configuration {
    font:                 "MesloLGM Nerd Font 10";
    icon-theme:           "Papirus-dark";

    display-drun:        " ";
    display-run:         " ";
    display-filebrowser: " ";
    display-window:      " ";

    run,drun {
      fallback-icon:     "application-x-addon";
    }
}

@theme "/home/bruno/.config/rofi/themes/custom.rasi"


