@import "config.rasi"

window {
    width: 400px;
}

mainbox {
    enabled:  true;
    children: [ "inputbar", "message", "listview" ];
}

listview {
    scrollbar: false;
    columns:   1;
    lines:     5;
}

inputbar {
    enabled:  true;
    children: [ "prompt"];
}

prompt {
    enabled: true;
    padding: 0px 0px 10px 10px;
}