@import "config.rasi"

configuration {
    display-drun:        " Menu";
    display-run:         " Run";
    display-filebrowser: " Files";
    display-window:      " Windows";
}

window {
    width: 600px;
}

listview {
    enabled: true;
    columns: 1;
    lines:   6;
}
