configuration {
    show-icons: true;
    location: 6;
    yoffset: -50;
}

@import "config.rasi"

window {
    width: calc( 40% min 512 );
}

inputbar {
    children: [ "prompt", "textbox-prompt-colon", "entry" ];
}

listview {
    scrollbar: false;
    lines: 8;
}

