@import "config.rasi"

window {
    width: 400px;
}

mainbox {
    children: [ "inputbar", "listview" ];
}

listview {
    scrollbar: false;
    lines:     5;
}

inputbar {
    children: [ "prompt"];
}
