@define-color window_bg_color #221F22;
@define-color window_fg_color #FCFCFA;
@define-color view_bg_color #2D2A2E;
@define-color view_fg_color @window_fg_color;
@define-color accent_bg_color #78DCE8;
@define-color accent_fg_color @window_fg_color;
@define-color headerbar_bg_color #403E41;
@define-color headerbar_fg_color @window_fg_color;
@define-color headerbar_backdrop_color @window_bg_color;
@define-color popover_bg_color @headerbar_bg_color;
@define-color popover_fg_color @view_fg_color;
@define-color dialog_bg_color @headerbar_bg_color;
@define-color dialog_fg_color @view_fg_color;
@define-color card_bg_color @headerbar_bg_color;
@define-color card_fg_color @view_fg_color;
@define-color sidebar_bg_color @view_bg_color;
@define-color sidebar_fg_color @window_fg_color;
@define-color sidebar_backdrop_color @window_bg_color;
@define-color secondary_sidebar_bg_color @headerbar_bg_color;
@define-color secondary_sidebar_fg_color @view_fg_color;
@define-color secondary_sidebar_backdrop_color @view_bg_color;
@define-color destructive_bg_color #FF6188;
@define-color success_bg_color #A9DC76;
@define-color warning_bg_color #FFD866;
@define-color error_bg_color #FF6188;


:root {
    --accent-bg-color: @accent_bg_color;
    --accent-fg-color: @accent_fg_color;
    --window-bg-color: @window_bg_color;
    --window-fg-color: @window_fg_color;
    --view-bg-color: @view_bg_color;
    --view-fg-color: @view_fg_color;
    --headerbar-bg-color: @headerbar_bg_color;
    --headerbar-fg-color: @headerbar_fg_color;
    --headerbar-backdrop-color: @headerbar_backdrop_color;
    --sidebar-bg-color: @sidebar_bg_color;
    --sidebar-fg-color: @sidebar_fg_color;
    --sidebar-backdrop-color: @sidebar_backdrop_color;
    --sidebar-shade-color: @sidebar_shade_color;
    --sidebar-border-color: @sidebar_border_color;
    --secondary-sidebar-bg-color: @secondary_sidebar_bg_color;
    --secondary-sidebar-fg-color: @secondary_sidebar_fg_color;
    --secondary-sidebar-backdrop-color: @secondary_sidebar_backdrop_color;
    --secondary-sidebar-shade-color: @secondary_sidebar_shade_color;
    --secondary-sidebar-border-color: @secondary_sidebar_border_color;
    --card-bg-color: @card_bg_color;
    --card-fg-color: @card_fg_color;
    --dialog-bg-color: @dialog_bg_color;
    --dialog-fg-color: @dialog_fg_color;
    --popover-bg-color: @popover_bg_color;
    --popover-fg-color: @popover_fg_color;
    --destructive-bg-color: @destructive_bg_color;
    --success-bg-color: @success_bg_color;
    --warning-bg-color: @warning_bg_color;
    --error-bg-color: @error_bg_color;
}

* {
    border-radius: 2px;
    -gtk-outline-radius: 2px;
}